<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="com.change_vision.astah.ui.view">
        <view
                id="hu.modeldriven.astah-matrix.MatrixView"
                type="extraTab"
                class="hu.modeldriven.astah.matrix.MatrixView" />
    </extension>
    <extension point="com.change_vision.astah.ui.actionSets">
        <actionSet
                label="%action_set_label"
                visible="true"
                id="hu.modeldriven.astah-matrix.actionSet">
            <menu
                    id="astah-matrix"
                    label="%menu_group"
                    path="tool/astah-matrix">
            </menu>
            <action
                    label="%menu_label"
                    icon="icons/sample.gif"
                    class="hu.modeldriven.astah.matrix.TemplateAction"
                    tooltip="%menu_tooltip"
                    menubarPath="tool/astah-matrix/"
                    id="astah-matrix">
            </action>
        </actionSet>
    </extension>
</plugin>
